canvas {
	position: fixed;
	top: 0;
	left: 0;
}

:root {
	--dark-bg: rgba(15, 15, 15, 0.95);
	--spacing: 350px;
	--blue: #0000ff;
	--white: #ffffff;

	font-family: "Encode Sans Expanded", sans-serif;
	font-weight: 400;
	font-style: normal;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

body::-webkit-scrollbar {
	width: .25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: var(--blue);
}

::selection {
	background: var(--blue);
	color: var(--white);
}

main {
	width: 100vw;
	color: var(--white);
	z-index: 99;
	position: absolute;
	width: 100%;
	margin: 0px auto;
	padding: 120px 0px;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
	font-family: "Oxanium", sans-serif;
	font-weight: 700;
	font-style: normal;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
}

header {
	background: var(--dark-bg);
	grid-column: 2 / span 5;
	font-size: 2.5rem;
	padding: 2rem;
	margin-bottom: var(--spacing);
}

section {
	grid-column: 2 / 8;
	padding: 1rem;
	background: var(--dark-bg);
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: var(--spacing);
}

blockquote {
	margin: 0;
	padding: 0;
	grid-column: 2 / span 9;
	margin-bottom: var(--spacing);
}

blockquote p {
	color: black;
	background-color: var(--white);
	font-size: 4rem;
	display: inline;
	line-height: 1;
}

.left {
	grid-column: 6 / 12;
}

/* Cursor Follow Effect */

.cursor {
	pointer-events: none;
	position: fixed;
	display: block;
	border-radius: 0;
	mix-blend-mode: difference;
	top: 0;
	left: 0;
	z-index: 9999999999999999;
}

.circle {
	position: absolute;
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 20px;
	background-color: var(--white);
}

/* Social Media Icons */

img {
	width: 3rem;
}
